@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #141414;
    padding: 0;
    margin: 0;
}
  
.section_one{
    background-image: url(./images/width_1600);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 430px 0;
    gap: 20px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-top: -300px;
}
.title{
    color: yellow;
}
.title_black{
    color: white;
}
.section_one h1{
    font-size: 68px;
    display: flex;
    justify-content: center;
}
.section_one h1{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.logo_img img {
   width: 70px;
   height: 70px;
}
.logo_img{
    padding: 80px 80px ;
}
.logo_img h1{
  color: white;
}
.logo_img_wrapper{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.title_second h1{
    font-size: 70px;
    color: yellow;
}
.title_second h4{
    font-size: 40px;
    color: white;
}
.title_second a{
    text-decoration: none;
}
.section_second{
    padding: 100px 20px;
    margin: 100px 100px;
}
.title_second_wrapper img:nth-child(1) {
    width: 300px;
    height: 450px;
    object-fit: cover;
    object-position: left;
}
.title_second_wrapper img:nth-child(2){
    width: 300px;
    height: 450px;
    object-fit: cover;
    object-position: center;
    margin-top: 300px;
    margin-left: 150px;
}
.title_second_wrapper{
    display: flex;
    justify-content: end;
    margin-top: -600px;
    margin-right: 80px;
}
.title_second_wrapper img{
    border-radius: 15px;
}
button{
    width: 120px;
    height: 40px;
    background-color: yellow;
    font-size: 18px;
    border: 0 solid;
    border-radius: 5px;
    color:black;
    cursor: pointer;
}
.section_third h1{
    color: yellow;
    font-size: 70px;
}
.section_third h4{
    color: white;
    font-size: 30px;
}
.section_third h5{
    color: yellow;
    font-size: 30px;
    font-weight: 100;
    border: 1px solid white;
}
.section_third{
    padding-bottom: 200px;
}
.title{
    display: flex;
    justify-content: center;
}
.title_small{
    display: flex;
    justify-content: center;
}
.card , .card_second , .card_third{
    width: 400px;
    height: 600px;
}
.card img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: right;
    display: block;
    border-radius: 15px;
}
.card  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    margin-right: 200px;
    padding: 20px 20px;
}
.card  h5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 10px;
    border-radius: 5px;
}
.card_second img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 15px;
}
.card_second h5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 10px;
    border-radius: 5px;
}
.card_second{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    margin-right: 200px;
    padding: 20px 20px;
}
.card_third{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    padding: 20px 20px;
}
.card_third img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 15px;
}
.card_third h5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 10px;
    border-radius: 5px;
}
.wrapper_card{
    display: flex;
    justify-content: center;
}
.list_card{
    width: 400px;
    height: 500px;
    background-color: yellow;
    margin: 80px 50px;
}
.list_card img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: top;
}
.list_card p{
    padding: 0 10px;
}
.list_card h5{
    padding: 0 10px;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 100px;
}
.title_fourth h1{
    color: yellow;
    font-size: 70px;
}
.title_fourth{
    display: flex;
    justify-content: center;
}
.section_fifth{
    background-image: url('./images/fromgym.jpg');
    padding: 250px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.section_fifth h1{
    color: yellow;
    font-size: 80px;
    margin-left: 50px;
}
footer{
    background-color: yellow;
    padding: 50px 0;
}
.container_foot{
    display: flex;
    justify-content: space-between;
    padding: 30px 70px;
}
